%header#header.container.clearfix
  %a.logo{href: "/"}
    %img{src: "http://www.brandexponents.com/oshin/v2/wp-content/uploads/sites/2/2014/09/oshin-logo-new.png"}
  %button.button-collapse{"data-target" => "#menu"}
  - if !categories.empty?
    %ul#menu
      - categories.each do |category|
        %li
          %a{:href => category_path(category)}
            = category.title
